@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;                           
  }
  
  ::-webkit-scrollbar-track {
    background: #111;          
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan;         
    border-radius: 10px;
  }
body{
    overflow-x: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
body::selection{
    background-color: cyan;
    color: black;
}
nav{
    width: 200px;
    height: 500px;
    position: relative;
    top: 35px;
    animation: slide-in 1.4s ease-in-out forwards;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: cyan;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}
.top{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../static/Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}
.page{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.title{
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: white;
    position: relative;
    left: 500px;
}
.fa-cart-shopping{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-cart-shopping:hover{
    color: cyan;
}
.fa-user{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-user:hover{
    color: cyan;
}
.ab{
    position: relative;
    width: 100%;
    bottom: 450px;
    right: -170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    animation: slide-up forwards 3s;
}
.ab h1,.do h1{
    color: cyan;
    position: relative;
    right: 80px;
    font-size: 40px;
    letter-spacing: 4px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.ab1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    right: 30px;
}
.ab1 h3{
    width: 60%;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
}
span{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.do{
    position: relative;
    top: 100px;
    right: 100px;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 50px;
}
.do h1,
.why h1{
    color: cyan;
    text-align: center;
    font-size: 45px;
}
.doc,
.vis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    width: 80%;
}
.doc img,
.vis img{
    width: 450px;
    height: 250px;
    border-radius: 20px;
}
.doc h3,
.vis h3{
    width: 700px;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: justify;
}
.vis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: 50px;
}
.vis-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    width: 90%;
}
.why{
    position: relative;
    top: 50px;
}
.why h1{
    font-size: 40px;
}
.c{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 50px;
}
.c1{
    width: 250px;
    height: 250px;
    border: 2px solid cyan;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
}
.c1 h2{
    color: cyan;
}
.c1 p{
    color: white;
}
.com{
    position: relative;
    top: 250px;
    right: 100px;
}
.com h1{
    color: cyan;
    text-align: center;
    font-size: 45px;
}
.com-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 30px;
}
.com-c h2{
    color: white;
    width: 80%;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
}
.com-c button{
    width: 400px;
    height: 50px;
    background-color: transparent;
    color: cyan;
    border: 2px solid cyan;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .3s all ease;
    font-weight: bold;
}
.com-c button:hover{
    background-color: cyan;
    color: black;
}
footer{
    width: 100%;
    height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -170px;
    top: 450px;
}
footer p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
@keyframes slide-up{
    0%{
        position: relative;
        top: 600px;
    }
    100%{
        position: relative;
        top: -450px;
    }

}
@keyframes slide-in{
    0%{
        left: -300px;
    }
    100%{
        left: 0;
    }
}