@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;                           
  }
  
  ::-webkit-scrollbar-track {
    background: #111;          
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan;         
    border-radius: 10px;
  }
body{
    overflow-x: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
body::selection{
    background-color: cyan;
    color: black;
}
nav{
    width: 200px;
    height: 500px;
    position: relative;
    top: 35px;
    animation: slide-in 1.4s ease-in-out forwards;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: cyan;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}
.top{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../static/Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}
.page{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.title{
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: white;
    position: relative;
    left: 500px;
}
.fa-cart-shopping{
    transition: .3s all ease;
    cursor: pointer;
    border: 2px cyan dotted;
    padding: 10px;
}
.fa-cart-shopping:hover{
    color: cyan;
}
.fa-user{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-user:hover{
    color: cyan;
}
.m {
    position: relative;
    left: 220px;
    top: -450px;
    width: 1000px;
    height: 900px;
    border-radius: 20px;
    border: 2px solid cyan;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.m h2{
    color: cyan;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 40px;
}
.m h1{
    color: cyan;
    margin-bottom: 20px;
}
.c1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.c1 img{
    width: 100px;
    height: 120px;
}
.c1 p{
    color: white;
    font-size: 23px;
    letter-spacing: 2px;
}
.c1 button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid cyan;
    border-radius: 5px;
    color: cyan;
    cursor: pointer;
    transition: .3s all ease;
}
.c1 button:hover{
    background-color: cyan;
    color: black;
}
.buy{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s all ease;
    font-size: 20px;
}
.buy:hover{
    background-color: cyan;
    color: black;
}