@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 10px;
}

body {
    overflow-x: hidden;
    background-color: black;
}

body::selection {
    background-color: cyan;
    color: black;
}
.top1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
nav {
    width: 200px;
    height: 80vh;
    position: relative;
    top: 35px;
    animation: slide-in 1.4s ease-in-out forwards;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}

a:hover {
    color: cyan;
}

.top {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}

.page {
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.title {
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: white;
    position: relative;
    left: 500px;
}

.fa-cart-shopping,
.fa-user {
    transition: .3s all ease;
    cursor: pointer;
}

.fa-cart-shopping:hover,
.fa-user:hover {
    color: cyan;
}

@keyframes slide-in {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}
.m{
    position: relative;
    bottom: 400px;
    left: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.desc{
    width: 60%;
    text-align: justify;
}
.desc p{
    font-size: 15px;
    color: white;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.btn p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s all ease;
}
button:hover{
    background-color: cyan;
    color: black;
}
.top2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    left: -160px;
}
.req{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 400px;
    border: 2px solid cyan;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: -20px;
}
.req h1{
    color: cyan;
}
.req ul li{
    color: white;
    text-align: justify;
    padding: 10px;
}
.ss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 20px;
    left: 70px;
}
.ss h1{
    color: cyan;
}
.ss img{
    width: 800px;
    height: 400px;
}
.reviews{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    left: -100px;
    top: 50px;
}
.rs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.cont h1{
    color: cyan;
}
.r1{
    width: 350px;
    height: 450px;
    background-color: #111;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    transition: .3s all ease;
    color: white;
}
.r1:hover{
    transform: scale(1.1);
}
span{
    width: 200px;
    height: 3px;
    background-color: gray;
}
.r1 h2{
    color: cyan;
}
.rd{
    width: 90%;
    text-align: justify;
    font-size: 15px;
}
form{
    width: 80%;
    height: 600px;
    background-color: #111;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 70px;
    left: -50px;
}
form h1{
    color: cyan;

}
input{
    width: 60%;
    height: 30px;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: cyan;
    border-bottom: 1px solid white;
}
input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
textarea{
    width: 60%;
    height: 100px;
    border: none;
    background-color: transparent;
    padding: 10px;
    color: cyan;
    border: 1px solid white;
    border-radius: 10px;
}
.btnn{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s all ease;
}
.btnn:hover{
    background-color: cyan;
    color: black;
}

