@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;                           
  }
  
  ::-webkit-scrollbar-track {
    background: #111;          
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan;         
    border-radius: 10px;
  }
body{
    overflow-x: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
body::selection{
    background-color: cyan;
    color: black;
}
nav{
    width: 200px;
    height: 500px;
    position: relative;
    top: 35px;
    z-index: 10;
    animation: slide-in 1.4s ease-in-out forwards;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: cyan;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}
.top{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../static/Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}
.page{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.title{
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    position: relative;
    left: 500px;
}
.fa-cart-shopping{
    transition: .3s all ease;
    cursor: pointer;
    color: white;
}
.fa-cart-shopping:hover{
    color: cyan;
}
.fa-user{
    transition: .3s all ease;
    cursor: pointer;
    color: white;
}
.fa-user:hover{
    color: cyan;
}
.n{
    position: relative;
    top: -430px;
    animation: slide-up ease forwards 2s;
}
.n h1{
    color: cyan;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.n h2{
    color: cyan;
    position: relative;
    left: 200px;
    top: 40px;
}
.news{
    position: relative;
    left: 200px;
    top: 60px;
}
.news h3{
    color: cyan;
    font-size: 20px;
}
.news p{
    color: white;
    width: 75%;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 16px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

@keyframes slide-in{
    0%{
        position: relative;
        left: -300px;
    }
    100%{
        position: relative;
        left: 0;
    }
}
@keyframes slide-down{
    0%{
        position: relative;
        top: -300px;
    }
    100%{
        position: relative;
        top: 30px;
    }
}
@keyframes slide-up{
    0%{
        position: relative;
        top: 1000px;
    }
    100%{
        position: relative;
        top: -450px;
    }
}