@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 8px;                           
  }
  
  ::-webkit-scrollbar-track {
    background: #111;          
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan;         
    border-radius: 10px;
  }
body{
    overflow-x: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
body::selection{
    background-color: cyan;
    color: black;
}
nav{
    width: 200px;
    height: 500px;
    position: relative;
    top: 35px;
    animation: slide-in 1.4s ease-in-out forwards;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: cyan;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}
.top{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../static/Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}
.page{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.title{
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: white;
    position: relative;
    left: 500px;
}
.fa-cart-shopping{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-cart-shopping:hover{
    color: cyan;
}
.fa-user{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-user:hover{
    color: cyan;
}
.m {
    position: relative;
    left: 420px;
    top: -400px;
    width: 50%;
    animation: opacity 2s ease-in-out;
}

h1{
    color: cyan;
    font-size: 80px;
    letter-spacing: 4px;
}
h3{
    color: darkcyan;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 30px;
}
button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border:2px solid cyan;
    color: cyan;
    border-radius: 20px;
    transition: .3s all ease;
    margin-left: 150px;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
button:hover{
    background-color: cyan;
    color: black;
}
footer{
    width: 100%;
    height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
.fa-bars{
    color: cyan;
}
.ham{
    display: none;
}

@keyframes slide-in{
    0%{
        left: -300px;
    }
    100%{
        left: 0;
    }
}
@keyframes slide-down{
    0%{
        top: -100px;
    }
    100%{
        top: 30px;
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:600px) {
    nav ul{
        display: none;
        width: 50%;
        height: 350px;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px 0;
        animation: fadeIn 0.3s ease-in-out;
        z-index: 1000;
    }

    nav ul.show {
        display: flex;
    }
    li {
        list-style: none;
        font-size: 10px;
    }

    a {
        color: cyan;
    }
    .top{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        position: relative;
        left: 45px;
    }
    .title{
        font-size: 25px;
    }
    .logos a{
        font-size: 18px;
        position: relative;
        left: 20px;
        color: white;
    }
    .m{
        position: relative;
        left: 50px;
        width: 100%;
        top: -300px;
    }
    button{
        width: 100px;
        height: 30px;
        margin-left: 50px;
        border-radius: 7px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
        margin-left: 0;
    }
    .title{
        font-size: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 380px;
        position: relative;
        top: -60px;
    }
    footer p{
        font-size: 10px;
        font-weight: bold;
    }
    .ham{
        display: block;
        position: relative;
        left: -30px;
    }
}
