@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 8px;                           
  }
  
  ::-webkit-scrollbar-track {
    background: #111;          
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: cyan;         
    border-radius: 10px;
  }
body{
    overflow-x: hidden;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
body::selection{
    background-color: cyan;
    color: black;
}
nav{
    width: 200px;
    height: 500px;
    position: relative;
    top: 35px;
    animation: slide-in 1.4s ease-in-out forwards;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
a:hover{
    color: cyan;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: .3s all ease;
}
.top{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 30px;
    background-image: url(../static/Assets/logo.jpg);
    background-size: cover;
    background-position: center;
    animation: slide-down 1.4s ease-in-out forwards;
}
.page{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.title{
    color: cyan;
    font-size: 50px;
    letter-spacing: 2px;

}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    color: white;
    position: relative;
    left: 500px;
}
.fa-cart-shopping{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-cart-shopping:hover{
    color: cyan;
}
.fa-user{
    transition: .3s all ease;
    cursor: pointer;
}
.fa-user:hover{
    color: cyan;
}
.sp{
    position: relative;
    left: 550px;
    top: -450px;
    animation: opacity 2s ease-in-out;
}
.sp h1{
    color: cyan;
    font-size: 40px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.acc h2{
    color: cyan;
    position: relative;
    left: -250px;
    top: 50px;
    letter-spacing: 2px;
}
.ac1{
    width: 600px;
    height: 80px;
    border: 1px solid cyan;
    position: relative;
    top: 80px;
    left: -170px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transition: .3s all ease;
}
.ac1:hover{
    transform: translateY(-10px);
    box-shadow: cyan 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cont{
    width: 60%;
    height: 350px;
    border: 1px solid cyan;
    position: relative;
    top: 100px;
    left: -230px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 50px;
}
.cont li{
    font-size: 18px;
    margin-top: 10px;
}
.cont h3{
    color: darkcyan;
    letter-spacing: 2px;

}
.cont a{
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 5px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
@keyframes slide-in{
    0%{
        position: relative;
        left: -300px;
    }
    100%{
        position: relative;
        left: 0;
    }
}
@keyframes slide-down{
    0%{
        position: relative;
        top: -300px;
    }
    100%{
        position: relative;
        top: 30px;
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
