<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="top">
        <div class="logo"></div>
    <h1 class="title">GAMEVERSE</h1>
    <div class="logos">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/store">STORE</a></li>
            <li><a href="/about" class="page">ABOUT</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/news">NEWS</a></li>
            <li><a href="/event">EVENTS</a></li>
        </ul>
    </nav>

    <div class="ab">
        <h1>About</h1>
        <div class="ab1">
            <iframe width="450" height="250" src="https://www.youtube.com/embed/RH5fGmU_9Lo?si=Yvf2covFmbwdvP3B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Welcome to <span>GAMEVERSE</span> — your ultimate destination for gaming! We bring together passionate gamers, the latest news, reviews, tips, and updates from the ever-evolving world of video games. Whether you’re a casual player or a hardcore enthusiast, GameVerse is where you can explore new titles, discover gaming trends, and connect with a universe built for gamers.</h3>
        </div>
        <div class="do">
        <h1>What do we do?</h1>
        <div class="doc">
            <img src="../static/Assets/do.jpg" alt="">
            <h3>From breaking news and in-depth game reviews to tips, guides, and community discussions. GameVerse brings everything gaming under one roof.</h3>
        </div>

        <div class="vis">
            <h1>Our Vision</h1>
            <div class="vis-c">
            <img src="../static/Assets/vis.jpg" alt="">
            <h3>We aim to create a connected universe where players of all kinds casual, competitive, and creators can share their passion and stay updated with the gaming world.</h3>
        </div>
        </div>

        <div class="why">
            <h1>Why choose GAMEVERSE?</h1>
            <div class="c">
                <div class="c1">
                    <h2>Up-to-date gaming news and trends</h2>
                    <p>Stay ahead with the latest happenings in the gaming world.</p>
                </div>
                <div class="c1">
                    <h2>Honest and detailed reviews</h2>
                    <p>Get clear, unbiased insights before you play.</p>
                </div>
                <div class="c1">
                    <h2>A growing community of passionate gamers</h2>
                    <p>Connect, share, and play with like-minded players.</p>
                </div>
            </div>
        </div>
        </div>

        <div class="com">
            <h1>Join the community</h1>
            <div class="com-c">
                <h2>GameVerse isn’t just a site—it’s a movement. Be part of the journey, share your thoughts, and level up your gaming experience with us!</h2>
                <a href=""><button>Join the Community</button></a>
            </div>
    </div>
    <footer>
        <p>© 2025 GameVerse. All rights reserved.</p>
    </footer>
</body>
</html>