<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{url_for('static',filename='account.css')}}">
</head>
<body>
    <div class="cont">
        <h1>Create new account</h1>
        <form action="/login" method="post">
            <input type="text" class="name" placeholder="Enter your name" name="name" required>
            <input type="email" class="mail" placeholder="Enter your email" name="email" required>
            <p class="emp"></p>
            <input type="password" id="pass" placeholder="Enter your password" name="password" required>
            <p class="p"></p>
            <input type="password" id="pass2" placeholder="Confirm your password" name="confirm" required>
            <p class="cp"></p>
            <input type="submit" class="submit">
        </form>
    </div>


    <script src="{{url_for('static',filename='account.js')}}"></script>
</body>
</html>