<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='cart.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="top">
        <div class="logo"></div>
    <h1 class="title">GAMEVERSE</h1>
    <div class="logos">
        <a href="/cart" class="page"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
    <nav>
        <ul>
            <li><a href="/" class="page">HOME</a></li>
            <li><a href="/store">STORE</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/news">NEWS</a></li>
            <li><a href="/event">EVENTS</a></li>
        </ul>
    </nav>
    <div class="m">
        <h2>CART</h2>
    
        {% if session.cart %}
            {% for game in session.cart %}
            <div class="c1">
                <img src="{{ url_for('static', filename=game['image']) }}" alt="">
                <p>{{ game['name'] }} -</p>
                <p>{{ game['price'] }}</p>
                <a href="{{ url_for('remove_from_cart', game_id=game['_id']) }}">
                    <button>Delete</button>
                </a>
            </div>
            {% endfor %}
    
            <h1>
                Total -
                ₹{{ total }}

            </h1>
            <button class="buy">Buy Now</button>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
    
</body>
