<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="top">
        <div class="ham">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo"></div>
    <h1 class="title">GAMEVERSE</h1>
    <div class="logos">
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-user"></i></a>
    </div>
</div>
    <nav>
        <ul>
            <li><a href="/" class="page">HOME</a></li>
            <li><a href="/store">STORE</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/news">NEWS</a></li>
            <li><a href="/event">EVENTS</a></li>
        </ul>
    </nav>
    <div class="m">
    <h1 class="main">GameVerse</h1>
    <h3>Dive Into the Ultimate Gaming Universe</h3>
    <a href="/store"><button>Explore</button></a>
</div>
<footer>
    <p>© 2025 GameVerse. All rights reserved.</p>
</footer>

    <script>
    const ham = document.querySelector('.ham');
    const nav = document.querySelector('nav ul');

    ham.addEventListener('click', () => {
    nav.classList.toggle('show');
    });
</script>

</body>
</html>